{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'core\img\SGLV61373061CF-Monomando-lavamanos-Malibu.jpg' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Monomando Fanaloza</h1>
                <div class="fs-5 mb-5">
                    <span>$25.990</span>
                </div>
                <p class="lead">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li class="list-item">
                                        Material : Latón cromado
                                    </li>
                                    <li class="list-item">
                                        Color: Cromado
                                    </li>
                                    <li class="list-item">
                                        Acabado: Cromado
                                    </li>
                                    <li class="list-item">
                                        Conexión a agua: Fría/Caliente
                                    </li>
                                    <li class="list-item">
                                        Tipo de Grifo: Monomando
                                    </li>
                                    <li class="list-item">
                                        Uso: Baño
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div></p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-_outline-dark flex-shrink-0" type="button" button style="margin: 10px;" >
                        <i class="bi-cart-fill me-1"></i>
                       Añadir a la cesta
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" button style="margin: 10px;">
                        <i class="bi-cart-fill me-1"></i>
                       Comprar ahora
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Productos relacionados</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{%static 'core/img/E-300.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Monomando Cocina Fanaloza</h5>
                            <!-- Product price-->
                            $35.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir a la cesta</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/unnamed.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Látex Interior y Exterior Ceresita</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$19.990</span>
                            $17.590
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir a la cesta</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga.jfif' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Taladro Ineco</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$59.990</span>
                            $45.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Añadir a la cesta</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga.webp' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Maleta de Herramientas TecTools</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}