{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
 <!-- Header-->
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/img/variety-handy-tools-on-dark-background-labor-day-background-concept.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Ferretería FERME</h5>
          <p>Encuentra todos las herramientas y materiales para concretar tu proyecto.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/manual-tool-set-set-on-wooden-floor.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'core/img/tools-ga4f34b027_1920.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- Section-->
<br>
<br>
<h5 class="text-center">Revisa nuestros productos destacados.</h5>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga (1).jfif' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Monomando Fanaloza</h5>
                            <!-- Product price-->
                            $25.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="{% url 'comprarproducto' %}">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga (2).jfif' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Clavos Inchalam</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$2.990</span>
                            $1.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga.jfif' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Taladro Ineco</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$59.990</span>
                            $45.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/descarga.webp' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Maleta de Herramientas TecTools</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/unnamed.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Látex Interior y Exterior Ceresita</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$19.990</span>
                            $17.590
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/43245018PNM001G.png' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Serrucho TecTools</h5>
                            <!-- Product price-->
                            $12.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Oferta!</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{%static 'core/img/E-300.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Monomando Cocina Fanaloza</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$49.990</span>
                            $35.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{% static 'core/img/taladro-atornillador-percutor-inalambrico-13-mm-18v-baterias-40-ah-cargador-dongcheng-dcjz13e.jpg' %}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Taladro Atornillador Percutor</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $69.990
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Añadir a la cesta</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" button style="margin: 10px;" href="#">Comprar ahora </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}