{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<body>

   
    <form class="formulario">

        <CENter>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="200" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
        </CENter>
    
    <center><h2> INICIAR SESIÓN PROVEEDORES </h2></center>   

     <div class="contenedor">             
       
        <div class="contenedor">             
       
            <form action="/action_page.php">
                <div class="mb-3 mt-3">
                  <label for="email" class="form-label">Nombre de Usuario:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="mb-3">
                  <label for="pwd" class="form-label">Contraseña:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div>
                <div class="form-check mb-3">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Recuérdame
                  </label>
                </div>
                <div class="d-grid gap-3">
                    <button type="button" class="btn btn-primary btn-block">Ingresar</button>
                  </div>
              </form>
             
    
         </div>
         <br>
         <center><A href="{% url 'registrocliente' %}">Aún no tienes cuenta? Regístrate</A></center> 
         <center><A href="{% url 'home' %}">Volver</A></center> 
        </form>
        </br>
    
</body>

{% endblock %}