{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            
            <h1 class="display-4 fw-bolder">Registro de Clientes <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </h1>
          
            <!-- <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p> -->
        </div>
    </div>
</header>
<!-- Section-->

<br>
<form>
   <label for="email" class="form-label">Ingrese sus datos:</label>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Ingrese su RUT" name="RUT">
    </div>
  </div>
</form>
</br>

<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Nombres" name="nombre">
    </div>
  </div>
</form>

<br>
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Apellido Paterno" name="apaterno">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Apellido Materno" name="amaterno">
    </div>
  </div>
</form>
</br>


<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="mySwitch" name="darkmode" value="no" checked>
  <label class="form-check-label" for="mySwitch">Soy Empresa</label>
</div>


<br>
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Cree un nombre de usuario:</label>
    <input type="email" class="form-control" id="email" placeholder="Nombre de usuario" name="email">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Ingrese una contraseña:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="pswd">

    <label for="pwd" class="form-label">Repita la contraseña:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="pswd">
  </div>
  
  <div class="form-check mb-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" name="remember"> Recuérdame
    </label>
  </div>
  <div class="d-grid gap-3">
    <button type="button" class="btn btn-primary btn-block">Registrarme</button>
  </div>
</form>
</br>








{% endblock %}